*.ts linguist-language=TypeScript+Vue
*.vue linguist-language=TypeScript+Vue
*.css linguist-language=TypeScript+Vue
*.less linguist-language=TypeScript+Vue
*.scss linguist-language=TypeScript+Vue
*.js linguist-language=TypeScript+Vue
*.html linguist-language=TypeScript+Vue