/*
-----------------------------------------------------------------
    *文 件 名：aiplat.css
    *修 改 人：梁超明 womendi@qq.com
    *最近修改：2019.01.24
-----------------------------------------------------------------
*/
.cm_c1b{background:rgb(253,20,20)!important;}
.cm_c1c{color:rgb(253,20,20)!important;}/*c1*/
.cm_c2b{background:rgb(0,0,0)!important;}
.cm_c2c{color:rgb(0,0,0)!important;}/*c2*/
.cm_c3b{background:rgb(105,104,103)!important;}
.cm_c3c{color:rgb(105,104,103)!important;}/*c3*/
.cm_c4b{background:rgb(155,155,155)!important;}
.cm_c4c{color:rgb(155,155,155)!important;}/*c4*/
.cm_c5b{background:rgb(223,221,218)!important;}
.cm_c5c{color:rgb(223,221,218)!important;}/*c5*/
.cm_c6b{background:rgb(239,239,238)!important;}
.cm_c6c{color:rgb(239,239,238)!important;}/*c6*/
.cm_c7b{background:rgb(255,255,255)!important;}
.cm_c7c{color:rgb(255,255,255)!important;}/*c7*/
.cm_c8b{background:rgb(236,53,58)!important;}
.cm_c8c{color:rgb(236,53,58)!important;}/*c8*/
.cm_c9b{background:rgb(255,130,0)!important;}
.cm_c9c{color:rgb(255,130,0)!important;}/*c9*/